<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Arobot_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0199023809554258 -0.0173034470198268 -0.0157828643241678"
        rpy="0 0 0" />
      <mass
        value="0.0931216324961421" />
      <inertia
        ixx="0.000124567788543552"
        ixy="-4.16363683065978E-08"
        ixz="1.57671233689442E-06"
        iyy="0.000130557362004676"
        iyz="-5.17488311121036E-07"
        izz="0.000200546691587433" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Arobot_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Arobot_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-0.00759010509401916 0.0187700474297136 -0.00224361769178332"
        rpy="0 0 0" />
      <mass
        value="0.0722904552128266" />
      <inertia
        ixx="6.24391334188447E-05"
        ixy="6.73311035218301E-06"
        ixz="-1.54882255374558E-06"
        iyy="5.68904737632755E-05"
        iyz="6.39871996504846E-06"
        izz="4.95155659981253E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Arobot_urdf/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Arobot_urdf/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="q1"
    type="continuous">
    <origin
      xyz="-0.019548 -0.017657 0.017836"
      rpy="1.5708 0 -2.2679" />
    <parent
      link="base_link" />
    <child
      link="link2" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="-0.000125481736924962 0.0592846627417191 0.00553500191463586"
        rpy="0 0 0" />
      <mass
        value="0.0565100282891084" />
      <inertia
        ixx="9.41765026874136E-05"
        ixy="-8.20721870459865E-09"
        ixz="1.28018314590746E-09"
        iyy="7.27757393240956E-06"
        iyz="-4.69467678466537E-10"
        izz="9.69997633192886E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Arobot_urdf/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Arobot_urdf/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="q2"
    type="continuous">
    <origin
      xyz="0 0.040395 -0.013891"
      rpy="1.5708 0.40114 1.5708" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="-3.6277018358899E-05 0.0380964871549582 0.0137277229044298"
        rpy="0 0 0" />
      <mass
        value="0.0569391358158971" />
      <inertia
        ixx="6.36145624374083E-05"
        ixy="1.05125829931984E-07"
        ixz="2.80380500493347E-09"
        iyy="1.10341366256809E-05"
        iyz="-9.26039997868699E-07"
        izz="6.71124501437227E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Arobot_urdf/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Arobot_urdf/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="q3"
    type="continuous">
    <origin
      xyz="0 0.12 0"
      rpy="3.1416 0 1.0827" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="0.00505977747575377 0.0460989187782145 -0.00578515845698138"
        rpy="0 0 0" />
      <mass
        value="0.0181544008867874" />
      <inertia
        ixx="4.26004943647823E-06"
        ixy="1.45652003326134E-08"
        ixz="-3.10514612533292E-09"
        iyy="2.89016878074379E-06"
        iyz="6.02916017576858E-07"
        izz="5.35076227036813E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Arobot_urdf/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Arobot_urdf/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="q4"
    type="continuous">
    <origin
      xyz="-0.0051 0.063767 0.013449"
      rpy="0 0.69041 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="endEffector">
    <inertial>
      <origin
        xyz="0.0108354269744141 0.00851935483238395 -0.0520705736467652"
        rpy="0 0 0" />
      <mass
        value="0.0349188614782314" />
      <inertia
        ixx="1.28546999424825E-05"
        ixy="-8.63249361863202E-07"
        ixz="1.1128235896358E-06"
        iyy="9.08221478082389E-06"
        iyz="3.86983955907995E-06"
        izz="5.61702189618018E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Arobot_urdf/meshes/endEffector.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.529411764705882 0.549019607843137 0.549019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Arobot_urdf/meshes/endEffector.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="q5"
    type="continuous">
    <origin
      xyz="0.005 0.055833 0"
      rpy="1.1624 0 1.0155" />
    <parent
      link="link5" />
    <child
      link="endEffector" />
    <axis
      xyz="0 0.91776 0.39713" />
  </joint>
</robot>